.ticket-card {
    background-color: #334155;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border-left: 5px solid #2563eb;

}

.ticket-card h3 {
    color: #f8fafc;
    margin-top: 0;
}

.ticket-card p {
    color: #e2e8f0;
}

